header {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-width: 1201px) {
        max-width: 1024px;
    }

    @media only screen and (max-width: 1200px) {
        width: 80%;
    }

    & .logo {
        height: 40px;
    }

    & li {
        list-style: none;
        & a {
            text-decoration: none;
            color: white;
            font-weight: 800;
            font-size: 17px;
        }
    }
}
