.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-weight: 12px;
    opacity: .8;
}